<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{shared/layout}">
<head>
    <meta charset="UTF-8">
    <title>Invoice Order</title>

</head>
<body>
<div layout:fragment="content">
    <div class="breadcumb_area bg-img" style="background-image: url(/img/bg-img/breadcumb.jpg);">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12">
                    <div class="page-title text-center">
                        <h2>Invoice Order</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card-body" th:if="${not #lists.isEmpty(invoice)}">
        <table class="table table-hover">
            <thead class="thead-dark">
            <tr class="text-center">
                <th>ID Order</th>
                <th>Name</th>
                <th>Date Order</th>
                <th>Address</th>
                <th>Shipping</th>
                <th>Type Payment</th>
                <th>Total Order</th>
                <th>Status</th>

                <th style="width:200px;">
                </th>
            </tr>
            </thead>
            <tbody>
            <tr class="text-center" th:each="item : ${invoice}">
                <td th:text="${item.id}"></td>
                <td th:text="${item.nameUser}"></td>

                <td th:text="${item.invoiceDate}"></td>
                <td th:text="${item.addressUser}"></td>
                <td th:text="${item.typeShipping}"></td>
                <td th:text="${item.typePayment}"></td>
                <td th:text="${item.totalInvoice + '$'}"></td>
                <td th:text="${item.status}"></td>
                <td>
                    <a th:href="@{/detailOrder/{id} (id=${item.id})}" class="btn btn-outline-dark"><i class="fa fa-eye"></i></a>
                    <a  onclick="return confirm('Are you sure you want to cancel your order?')"
                        th:href="@{/checkout/remove/{id} (id=${item.id})}" class="btn btn-outline-dark"><i class="fa fa-trash"></i></a>
                </td>
            </tbody>
        </table>
    </div>
    <div class="container mb-15" th:if="${#lists.isEmpty(invoice)}">
        <div class="container">
            <div class="row">
                <div class="col-md-6 offset-md-3 text-center">
                    <h3 class="mt-5">Your invoice is empty</h3>
                    <div class="add-to-cart-btn">
                        <a class="btn essence-btn" href="/product">Go to list product</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>