<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{shared/layout}">
<head>
  <meta charset="UTF-8">
  <title>Checkout</title>

</head>
<body>
<div layout:fragment="content">
  <div class="breadcumb_area bg-img" style="background-image: url(/img/bg-img/breadcumb.jpg);">
    <div class="container h-100">
      <div class="row h-100 align-items-center">
        <div class="col-12">
          <div class="page-title text-center">
            <h2>Checkout Success</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- ##### Breadcumb Area End ##### -->

  <!-- ##### Checkout Area Start ##### -->
  <div class="checkout_area section-padding-80">
    <h1 class="text-center">Your order has been faild placed.</h1>
  </div>
</div>

</body>
</html>